
<div data-role="page">
    <div data-role="header" data-position="fixed">
        <h1>订餐</h1>
    </div>
    <div data-role="content">
        <form>
            <label for="username">用户名:</label>
            <input type="text" name="username" id="username" placeholder="请输入手机号或电子邮箱">
            <label for="password">密码：</label>
            <input type="password" name="password" id="password" data-clear-btn="true" autocomplete="off">

            <a href="#" class="ui-shadow ui-button ui-corner-all ui-button-inline">登录<span class="ui-icon ui-icon-left"></span></a>
            <a href="#" class="ui-shadow ui-button ui-corner-all ui-button-inline">忘记密码<span class="ui-icon ui-icon-user"></span></a>
        </form>
    </div>
</div>